.enemy {
    z-index: 2;
    position: absolute;
    height: 50px;
    width: 35px;
}

.enemy .hitbox {
    width: 10px;
    height: 15px;
    background-color: rgb(242 240 214);
    border: 2px solid rgb(40 32 51)
}

.hitting{
    animation: enemyHit .8s ease forwards;
    animation-delay: .4s;
}

@keyframes enemyHit {
    0% {
        transform: rotate(0deg) translate(0, 0)
    }

    30% {
        transform: rotate(-90deg) translate(0px, 10px)
    }
    50%{
        transform: rotate(-90deg) translate(0px, 35px)
    }
    70%{
        transform: rotate(-90deg) translate(0px, 10px)
    }
    100%{
        transform: rotate(0deg) translate(0, 0)
    }
}

.skeleton {
    top: 350px;
    left: 470px;
    /* background-image: url(../img/skeleton.gif); */
    background-position-x: -17px;
    background-position-y: -60px;
    background-size: 130px;
    background-repeat: no-repeat;
    z-index: 1;
}

/* .enemyHitLeft,
.enemyHitRight {
    background: url(../img/skeleton_hurt.gif) !important;
    background-position-x: -17px;
    background-position-y: -60px;
    background-size: 130px;
    background-repeat: no-repeat;
    z-index: 1;
} */

.enemyHitRight {
    animation: .3s hurtRight ease;
}

@keyframes hurtLeft {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(-8px)
    }

    100% {
        transform: translateX(0px)
    }
}

.enemyHitLeft {
    animation: .3s hurtLeft ease;
}

@keyframes hurtRight {
    0% {
        transform: translateX(0px) scaleX(-1);
    }

    50% {
        transform: translateX(8px) scaleX(-1);

    }

    100% {
        transform: translateX(0px) scaleX(-1);
    }
}