.path {
    position: absolute;
    /* background: green; */
    color: white;
    /* width: 400px;
    height: 600px; */
    /* background: url(../img/tile.jpg); */
    background: url(../img/wall.jpg);
    background-size: 140px;
    box-shadow: 0px 0px 36px 16px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 0px 0px 36px 16px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px 0px 36px 16px rgba(0, 0, 0, 0.75) inset;
}

body{
    zoom: 120%
}