.player {
    height: 60px;
    width: 45px;
    /* background: orange; */
    background: url(../img/mage.gif);
    position: absolute;
    z-index: 2;
    background-position: center;
    /* border: 1px solid red; */
    background-size: 131px;
    background-repeat: no-repeat;
}

.player::before {
    z-index: 3;
    content: '';
    width: 3060px;
    height: 2160px;
    margin-left: -1500px;
    margin-top: -1058px;
    position: absolute;
    background: url(../img/light.png);
}

.playerRight {
    transform: scaleX(-1);
}

.sword {
    width: 120px;
    height: 60px;
    position: absolute;
    left: -24px;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
}