.player {
    height: 60px;
    width: 45px;
    /* background: orange; */
    position: absolute;
    z-index: 2;
    background-position: center !important;
    /* border: 1px solid red; */
    background-size: 131px !important;
    background-repeat: no-repeat !important;
}

.player::before {
    z-index: 3;
    content: '';
    width: 3060px;
    height: 2160px;
    margin-left: -1500px;
    margin-top: -1058px;
    position: absolute;
    background: url(../img/light.png);
}

.playerRight {
    transform: scaleX(-1);
}

.sword {
    width: 120px;
    height: 60px;
    position: absolute;
    left: -24px;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
}

.player .staminaBar {
    position: absolute;
    top: -10px;
    width: 45px;
    height: 2px;
    background: rgb(176, 176, 176);
    border-radius: 2px;
    /* transform: scaleX(-1) !important; */
}

.playerRight .staminaBar {
    transform: scaleX(-1);
}

.player .staminaBar .progress {
    height: inherit;
    border-radius: inherit;
    background: rgb(21, 191, 238)
}